@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  animation: FadeIn 0.8s ease-in-out;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainContentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  height: calc(86vh);
  /*border: 3px solid blue;*/
}
#mainContentSection h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
#mainContentSection p {
  font-size: 1.5rem;
  margin-top: 20px;
  max-width: 600px;
  color: var(--muted-foreground);
}
#mainContentSection img {
  width: 400px;
  height: 300px;

  object-fit: cover;
  /*
  clip-path: inset(0px 0px 100px 0px);*/
}
#mainContentSection img:hover {
  clip-path: inset(0px 0px 0px 0px);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  filter: brightness(1.1);
  filter: contrast(1.2);
  filter: invert(100%);

  transition: all 0.5s ease-in-out;
}
.Card {
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  height: 300px;
  width: 85%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
}
.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.Card .ImagenCard {
  width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.ContenidoCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.TituloCard {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 60px;
  color: var(--primary);
}
.SubtituloCard {
  font-size: 1.6rem;
  font-weight: semi-bold;
  margin-bottom: 10px;
  color: var(--accent);
  text-align: justify;
  width: 100%;
  margin-bottom: 20px;
}
.TextoCard {
  font-size: 1rem;

  margin-bottom: 20px;
  text-align: justify;
}
.TextoCard a {
  color: var(--muted-foreground);
  text-decoration: none;
  font-weight: 600;
  width: 100%;
}
.TextoCard a:hover {
  color: var(--foreground);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
